<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="single_blog_img">
                    <img src="assets/img/team/chefs_1.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <p>{{Z.id}}</p>
                    <p>{{Z.firstName}}</p>
                    <p>{{Z.lastName}}</p>
                    <p>{{Z.email}}</p>
                    <p>{{Z.password}}</p>
                </div>
            </div>
        </div>
    </div>
</section>