<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <h2>Add chef</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <form [formGroup]="addChefForm">
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <input type="text" formControlName='name' class="form-control" id="inputEmail4" placeholder="Name">
                            </div>
                            <div *ngIf="addChefForm.controls['name'].invalid &&
                            (addChefForm.controls['name'].touched || addChefForm.controls['name'].dirty)">
                               <div *ngIf="addChefForm.controls['name'].errors.required">
                                   Name is required
                               </div>
                               <div *ngIf="addChefForm.controls['name'].errors.minlength">
                                   <!-- //minlength miniscule -->
                                   Name >3
                               </div>
                           </div>
                            <div class="form-group col-md-10">
                                <input type="text" formControlName='specialty' class="form-control" id="inputPassword4"
                                    placeholder="Specialty">
                            </div>
                            <div *ngIf="addChefForm.controls['specialty'].invalid &&
                            addChefForm.controls['specialty'].touched ">
                               <div *ngIf="addChefForm.controls['specialty'].errors.required">
                                   Specialty is required
                               </div>
                               
                           </div>
                            <div class="form-group col-md-10">
                                <input type="text" formControlName='experience' class="form-control" id="inputPassword4"
                                    placeholder="Experience">
                            </div>
                            <div *ngIf="addChefForm.controls['experience'].invalid &&
                            addChefForm.controls['experience'].touched ">
                               <div *ngIf="addChefForm.controls['experience'].errors.required">
                                   Experience is required
                               </div>
                               
                           </div>
    
                           
                        </div>

                        <div class="regerv_btn">
                            <a href="#" class="btn_4" (click)='addChef()'>Add</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>